/* Mobile devices ( potrait and landscape )*/
@media( width <= 767px ) {
	   :root {
	  --background: #f8f4f9;
	  --color-text: #393e46;
    } 
    .hide-screen {
     overflow: hidden;
   }
     nav {
     	  grid-template-columns: repeat(3, 1fr);
     }
      .nav-link {
      	 position: absolute;
      	 grid-template-columns: 1fr;
     	   height: 100dvh;
     	  background-color: var(--background);
     	  top: 0;
     	  left: 0;
     	  align-content: space-evenly;
        justify-content: end;
     	  width: 100%;
     	  opacity: 0;
     	  visibility: hidden;
     	   transition: opacity 0.6s, visibility 0.6s;
     }
     .nav-link a {
     	  justify-self: center;
     }
     .toggle {
     	 justify-self: center;
     }

    .open-nav {
     opacity: 1;
     visibility: visible;
  }
/* about */
.about {
	  height: 100dvh;
	  grid-template-columns: 1fr;
	  grid-template-areas:  'content1'
	                        'heading'
	                        'content2';
}
    .about h2 {
    	 justify-self: center;
    	 font-size: 4vw;
    }
    .about p {
	    grid-area: content2;
	    width: 100%;
	    justify-self: center;
	    text-align: justify;
   }
    .about img {
	 width: 100%;
	 grid-area: content1;
	 justify-self: center;
}
}  
/* Tablet devices ( potrait and landscape )*/
/* Laptop devices ( potrait and landscape ) */
/* Dekstop  devices ( potrait and landscape   )*/