/* Mobile devices ( potrait and landscape )*/
@media( width <= 767px ) {
	   :root {
	  --background: #f8f4f9;
	  --color-text: #393e46;
  } 
    .hide-screen {
     overflow: hidden;
   }
     nav {
     	  grid-template-columns: repeat(2, 1fr);
    }
    .hero {
        height: 100dvh;
    }
      .nav-link {
      	position: absolute;
      	grid-template-columns: 1fr;
     	  height: 100dvh;
     	  background-color: var(--background);
     	  top: 0;
     	  left: 0;
     	  align-content: space-evenly;
        justify-content: end;
     	  width: 100%;
     	  opacity: 0;
     	  visibility: hidden;
     	  transition: opacity 0.6s, visibility 0.6s;
        z-index: 999px;
     }
     .nav-link a {
     	  justify-self: center;
     }
    .open-nav {
     opacity: 1;
     visibility: visible;
     z-index: 999px;
  }

  .burger {
      display: block;
      justify-self: end;
  }
/* about */
.about {
   height: auto;
	 min-height: 100dvh;
}
    .about h2 {
    	 justify-self: center;
    	 font-size: 4vw;
        margin-top: 5rem;
    }
    .content-about {
        flex-direction: column-reverse;
    }
    .about-image {
        width: 50%;
    }
    .about p {
	    grid-area: content2;
	    width: 100%;
   }
/* projects */
      .projects {
          height: auto;
          overflow: hidden; 
           min-height: 100dvh;                    
      }
      .content-projects{
          grid-template-columns: 1fr;
          grid-template-rows: unset;
          place-items: center;
      }
      .projects h2 {
          font-size: 4vw;
          margin-top: 5rem;
      }
      article {
          width: 100%;
      } 
}  


/* Tablet devices ( potrait and landscape )*/
/* Laptop devices ( potrait and landscape ) */
/* Dekstop  devices ( potrait and landscape   )*/