* {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 text-decoration: none;
	 border: none;
	 outline: none;
	 scroll-behavior: smooth;
	 font-family: 'Roboto', arial, sans-serif;
	 font-weight: 300;
}

:root {
	 --bg-color : #273343;
	 --second-bg-color: #323946;
	 --text-color: #e8e8e8;
	 --main-color: #5afaf2;
}

html {
	 font-size: 62.5%;
	 overflow-x: hidden;
}

body {
	 background-color: var(--bg-color);
	 color: var(--text-color);
}

/* header */
header {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 padding: 2rem 9%;
	 background-color: var(--bg-color);
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 z-index: 100;
}

.logo {
	 font-size: 2.5rem;
	 color: var(--text-color);
/* 	 cursor: default; */
	 text-transform: capitalize;
     font-family: 'Alex Brush';
}

nav a {
	 font-size: 1.7rem;
	 color: var(--text-color);
	 margin-left: 4rem;
	 text-transform: capitalize;
	 transition: color .3s;
	 font-weight: normal;
}

nav a:hover,
/* .logo {
	 color: var(--main-color);
} */

.active  {
	 color: var(--main-color);
}



#menu {
	 fill: var(--text-color);
	 width: 35px;
	 height: 35px;
	 display: none;
}

section {
   min-height: 100vh;
   padding: 10rem 9% 2rem;
}

/* hero */
.hero {
	 display: flex;
	 justify-content: center;
	 align-items: center;
}

.hero-content h3 {
	 font-size: 3.2rem;
	 font-weight: 900;
}

.hero-content h3:nth-of-type(2) {
	 margin-bottom: 2rem;
}

span {
	 color: var(--main-color);
}

.hero-content h1 {
	 font-size: 5.6rem;
	 font-weight: 900;
	 line-height: 1.3;
}

.hero-img img {
     width: 35vw;
}

.hero-content p {
	 font-size: 1.6rem;
}

.social-media a {
	 display: inline-flex;
	 justify-content: center;
	 align-items: center;
	 width: 4rem;
	 height: 4rem;
	 background: transparent;
	 border: .2rem solid var(--main-color);
	 border-radius: 50%;
	 margin: 3rem 1.5rem 3rem 0;
	 overflow: hidden;

}

.social-media a svg {
	  fill: var(--main-color);
	  width: 100%;
	  height: 100%;
	  transition: .5s ease;
}

.social-media a svg:hover {
	 background: var(--main-color);
	 fill: var(--second-bg-color);
} 

/* button */
.btn {
	 display: inline-block;
	 padding: 1rem 2.1rem;
	 background: var(--main-color);
	 border-radius: 4rem;
	 box-shadow: 0 0 1rem var(--main-color);
	 font-size: 1.6rem;
	 color: var(--second-bg-color);
	 letter-spacing: .1rem;
	 font-weight: 500;
	 transition: .5s box-shadow ease;
}

.btn:hover {
	 box-shadow: none;
}

/* about */
.about {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 gap: 2rem;
	 background: var(--second-bg-color);
}

.about-paragraph {
	  display: flex;
	  width: 60%;
	  gap: 1rem;
	 
}
.about-paragraph p {
      text-align: justify-all;
	   text-justify: inter-word;
	   word-break: break-all;
	   font-size: 1.6rem;
}

.heading {
	 font-size: 4.5rem;
	 text-align: center;
	 font-weight: 500;
}

.about h2 {
	  line-height: 1.2;
}

.about h3 {
	 font-size: 2.1rem;
	 text-transform: capitalize;
}

.tech-stack {
    display: flex;
    width: 40%;
    justify-content: space-between;
    gap: 1rem;
}

.tech-stack .icon {
	 display: flex;
	 justify-content: space-between;
	 width: 40%;
}

.tech-stack svg {
	 fill: var(--main-color);
}

/* projects */
.projects {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
}
.projects h2 {
	 margin-bottom: 4rem;
}

.projects-content {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-wrap: wrap;
	 gap: 2rem;
}

.projects-content .project-card {
	 flex: 1 1 30rem;
	 background: var(--second-bg-color);
	 padding: 3rem 2rem 4rem;
	 border-radius: 2rem;
	 text-align: center;
	 border: .2rem solid var(--bg-color);
	 transition: .5s ease;
}
.projects-content .project-card:hover {
     border-color: var(--main-color);
     transform: scale(1.02);
}

.project-card img {
	 width: 20vw;
}

.project-card h3 {
	 font-size: 2.6rem;
}

.project-card p {
	 font-size: 1.6rem;
	 margin: 1rem 0 3rem;
}

.btn-card {
   display: flex;
   justify-content: space-between;
   gap: 4px;
}

/* blog section */
.blog {
	 background: var(--second-bg-color);
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
}

.blog h2 {
	  margin-bottom: 4rem;
}

.blog-content {
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 place-items: center;
	 gap: 1.5rem;
}

.blog-content .blog-card {
   position: relative;
   border-radius: 2rem;
   box-shadow: 0 0 1rem var(--bg-color);
   overflow: hidden;
   display: flex;
/*    width: 70%; */
}

.blog-card img {
	 width: 100%;
	 transition: .5s ease;
}

.blog-card:hover img {
	 transform: scale(1.1);
}

.blog-card .blog-layer {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  text-align: center;
	  padding: 0 4rem;
	  transform: translateY(100%);
	  transition: .5s ease;
}

.blog-card:hover .blog-layer {
	  transform: translateY(0);
     
}

.blog-layer h3 {
	 font-size: 3rem;
}

.blog-layer p {
	 font-size: 1.6rem;
	 margin: .3rem 0 1rem;
}

/* contact section  */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.contact h2 {
	 margin-bottom: 3rem;
}

.contact form {
	 min-width: 90rem;
	 margin: 1rem auto;
	 text-align: center;
	 margin-bottom: 3rem;
}

.contact form .input-box {
	 display: flex;
	 justify-content: space-between;
	 flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
	 width: 100%;
	 padding: 1.5rem;
	 font-size: 1.6rem;
	 color: var(--text-color);
	 background: var(--second-bg-color);
	 border-radius: .8rem;
	 margin: .7rem 0;
}

.contact form .input-box input {
	 width: 49%;
}

.contact form textarea {
	 resize: none;
}

.contact form .btn {
	 margin-top: 2rem;
	 cursor: pointer;
}

/* footer */
footer {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-wrap: wrap;
	 padding: 2rem 9%;
	 background: var(--second-bg-color);
}

.footer-text p {
	 font-size: 1.6rem;
	 font-weight: normal;
}