* {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 text-decoration: none;
	 border: none;
	 outline: none;
	 scroll-behavior: smooth;
	 font-family: 'Roboto', arial, sans-serif;
	 font-weight: 300;
}

:root {
	 --bg-color :  #111723;
	 --second-bg-color: #182031;
	 --text-color: #fcf7f8;
	 --main-color: #5afaf2;
}

html {
	 font-size: 62.5%;
	 overflow-x: hidden;
}

body {
	 background-color: var(--bg-color);
	 color: var(--text-color);
}

/* header */
header {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 padding: 1rem 9%;
	 background-color: transparent;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 z-index: 100;
}

header.sticky {
	 border-bottom: .1rem solid rgba(0, 0, 0, .2);
	 background-color: var(--bg-color);
}

.logo {
	 font-size: 2.5rem;
	 color: var(--text-color);
	 text-transform: capitalize;
     font-family: 'Alex Brush';
}

nav a {
	 font-size: 1.7rem;
	 color: var(--text-color);
	 margin-left: 4rem;
	 text-transform: capitalize;
	 transition: color .3s;
	 font-weight: normal;
}

nav a:hover
{
	 color: var(--main-color);
}

.active  {
	 color: var(--main-color);
}

#menu {
	 width: 37px;
	 height: 37px;
	 display: none;
	 cursor: pointer;
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--text-color);
    stroke-width: 5.5;
    stroke-linecap: round;
}

#menu .top {
    stroke-dasharray: 40 130;
}

#menu .middle {
    stroke-dasharray: 40 140;
}
#menu .bottom {
    stroke-dasharray: 40 205;
}
#menu.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}

#menu.active .middle {
    stroke-dashoffset: -102px;
}
#menu.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}


section {
   min-height: 100vh;
   padding: 10rem 9% 2rem;
}

/* hero */
.hero {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/hero-bg.jpg');
/* 	 mask-image: linear-gradient(to bottom, #182031 50%, transparent 95%); */
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

.hero-content h3 {
	 font-size: 3.2rem;
	 font-weight: 500;
}

.hero-content h3:nth-of-type(2) {
	 margin-bottom: 2rem;
}

span {
	 color: var(--main-color);
	 font-weight: 500;
}

.hero-content h1 {
	 font-size: 5.6rem;
	 font-weight: 900;
	 line-height: 1.3;
	 background-image: linear-gradient(30deg, #5afaf2 40%, #e8e8e8 20%);
	 --webkit-background-clip: text;
			  background-clip: text;
	color: transparent;		
	filter: drop-shadow(3px 3px 3px rgba(137, 255, 253, .4));  
}

.hero-img img {
     width: 33vw;
     animation: floatImage 4s ease-in-out infinite; 
}

@keyframes floatImage {
	 0% {
	 	 transform: translateY(0);
	 } 
	 50% {
	 	 transform: translateY(-2.4rem);
	 } 
	 100% {
	 	 transform: translateY(0);
	 }
}

.hero-content p {
	 font-size: 1.6rem;
}

.social-media a {
	 display: inline-flex;
	 justify-content: center;
	 align-items: center;
	 width: 4rem;
	 height: 4rem;
	 background: transparent;
	 border: .2rem solid var(--main-color);
	 border-radius: 50%;
	 margin: 3rem 1.5rem 3rem 0;
	 overflow: hidden;

}

.social-media a svg {
	  fill: var(--main-color);
	  width: 100%;
	  height: 100%;
	  transition: .5s ease;
}

.social-media a svg:hover {
	 background: var(--main-color);
	 fill: var(--second-bg-color);
} 

/* button */
.btn {
	 display: inline-block;
	 
/*	 background: var(--main-color);*/
/*	 border-radius: 4rem;*/
/*	 box-shadow: 0 0 1rem var(--main-color);*/
	 font-size: 1.6rem;
	 letter-spacing: .1rem;
	 font-weight: 500;
/*	 transition: .5s box-shadow ease;*/
	 position: relative;
	  background: rgba(100,150,170,0.2);
}

/*.btn:hover {
	 box-shadow: none;
}*/

.btn span {
	   display: block;
	   color: var(--text-color);
	   padding: 1rem 2.1rem;

}

.btn::before, .btn::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--main-color);
 
}

.btn span::before, .btn span::after{
  content:"";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--main-color);
 
}
.btn:hover::before, .btn:hover::after{
  width: 100%;
}
.btn:hover span::before, .btn:hover span::after{
  height: 100%;
}

.btn::before, .btn::after{
  transition-delay: 0.2s;
}
.btn span::before, .btn span::after{
  transition-delay: 0s;
}
.btn::before{
  right: 0;
  top: 0;
}
.btn::after{
  left: 0;
  bottom: 0;
}
.btn span::before{
  left: 0;
  top: 0;
}
.btn span::after{
  right: 0;
  bottom: 0;
}
.btn:hover::before, .btn:hover::after{
  transition-delay: 0s;
}
.btn:hover span::before, .btn:hover span::after{
  transition-delay: 0.2s;
}

.cursor{
   display: inline-block;
   background: var(--main-color);
   width: 3px;
  animation: blinker 800ms infinite;
}

.cursor.typing-true {
  animation: none;
}

@keyframes blinker {
          0% { background: var(--main-color); }
          50% { background-color: transparent; }
          100% { background-color: var(--main-color); }
}

/* about */
.about {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 gap: 2rem;
	 background: var(--second-bg-color);
}

.about-paragraph {
	  display: flex;
	  width: 60%;
	  gap: 1rem;
	 
}
.about-paragraph p {
      text-align: justify-all;
	   text-justify: inter-word;
	   word-break: break-all;
	   font-size: 1.6rem;
}

.heading {
	 font-size: 4.5rem;
	 text-align: center;
}

.about h2 {
	  line-height: 1.2;
}

.about h3 {
	 font-size: 2.1rem;
	 text-transform: capitalize;
}

.tech-stack {
    display: flex;
    width: 40%;
    justify-content: space-between;
    gap: 1rem;
}

.tech-stack .icon {
	 display: flex;
	 justify-content: space-between;
	 width: 40%;
}

.tech-stack svg {
	 fill: var(--main-color);
}

/* projects */
.projects {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
}
.projects h2 {
	 margin-bottom: 4rem;
}

.projects-content {
	 display: flex;
	 justify-content: center;
	 align-items: center;
/*	 flex-wrap: wrap;*/
	 gap: 2rem;
}

.projects-content .project-card {
	 flex: 1 1 30rem;
	 background: var(--second-bg-color);
	 padding: 3rem 2rem 4rem;
	 border-radius: 2rem;
	 text-align: center;
	 border: .2rem solid var(--bg-color);
	 transition: .5s ease;
}
.projects-content .project-card:hover {
     border-color: var(--main-color);
     transform: scale(1.02);
}

.project-card img {
	 width: 100%;
}

.project-card h3 {
	 font-size: 2.6rem;
}

.project-card p {
	 font-size: 1.6rem;
	 margin: 1rem 0 3rem;
}

.btn-card {
   display: flex;
   justify-content: center;
   gap: 4px;
}

/* blog section */
.blog {
	 background: var(--second-bg-color);
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
}

.blog h2 {
	  margin-bottom: 4rem;
}

.blog-content {
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 place-items: center;
	 gap: 1.5rem;
}

.blog-content .blog-card {
   position: relative;
   border-radius: 2rem;
   box-shadow: 0 0 1rem var(--bg-color);
   overflow: hidden;
   display: flex;
/*    width: 70%; */
}

.blog-card img {
	 width: 100%;
	 transition: .5s ease;
}

.blog-card:hover img {
	 transform: scale(1.1);
}

.blog-card .blog-layer {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  text-align: center;
	  padding: 0 4rem;
	  transform: translateY(100%);
	  transition: .5s ease;
}

.blog-card:hover .blog-layer {
	  transform: translateY(0);
     
}

.blog-layer h3 {
	 font-size: 3rem;
}

.blog-layer p {
	 font-size: 1.6rem;
	 margin: .3rem 0 1rem;
}

/* contact section  */
.contact h2 {
	 margin-bottom: 3rem;
}

.contact form {
	 max-width: 70rem;
	 margin: 1rem auto;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-areas: 'label-name label-name label-email label-email'
                          'name name email email'
                          'label-message label-message label-message label-message'
                          'message message message message';	
     gap: 10px;                      
}

.contact form input,
.contact form textarea {
	 width: 100%;
	 padding: 1.5rem;
	 font-size: 1.6rem;
	 color: var(--text-color);
	 background: var(--second-bg-color);
	 border-radius: .8rem;
	 margin: .7rem 0;
}

.contact form textarea {
	 resize: none;
}

.contact form .btn {
	 margin-top: 10px;
	 cursor: pointer;
}

.name {
	 grid-area: name;
}

.email {
	 grid-area: email;
}

.message {
	 grid-area: message;
}

.label-name {
	 grid-area: label-name;
}

.label-email {
	 grid-area: label-email;
}

.label-message {
	 grid-area: label-message;
}


/* footer */
footer {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-wrap: wrap;
	 padding: 2rem 9%;
	 background: var(--second-bg-color);
}

.footer-text p {
	 font-size: 1.6rem;
	 font-weight: normal;
}

/* BREAKPOINTS */
/* Dekstop / PC */
@media ( width <= 1200px ) {
	 html {
	 	 font-size: 55%;
	 }
}

/* Tablet */
@media ( width <= 991px ) {
	 header {
	 	 padding: 2rem 3%;
	 }

	 section {
         padding: 10rem 3% 2rem;
	 }
      
     .projects {
     	 padding-bottom: 7rem;
     }

     .blog {
     	 padding-bottom: 7rem;
     } 

     .contact {
         min-height: auto;
     }

	 .footer {
	 	 padding: 2rem 3%;
	 }

	   .btn-card {
         justify-content: center;
         gap: 1rem;
  }

  .projects-content {
	
	 flex-wrap: wrap;
	
   }
}
/* Mobile */
@media ( width <= 768px ) {
	 #menu {
	 	 display: block;
	 }

	 nav {
	 	 position: absolute;
	 	 top: 100%;
	 	 left: 0;
	 	 width: 100%;
	 	 padding: 1rem 3%;
	 	 background: var(--bg-color);
	 	 border-top: .1rem solid rgba(0, 0, 0, .2);
	 	 box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
	 	 transition: .5s ease;
	 	 display: none;
	 }
     nav.active {
         display: block;
     }

     header.active {
     	  background: var(--bg-color);
     }
	 nav a {
	 	 display: block;
	 	 font-size: 2rem;
	 	 margin: 3rem 0;
	 }
	 .hero {
	 	 flex-direction: column;
	 }

	 .hero h3 {
	 	 font-size: 2.6rem;
	 }

	 .hero h1 {
	 	 font-size: 5rem;
	 }

	 .hero-img img {
	 	 width: 70vw;
	 	 margin-top: 4rem;
	 }

     .about-paragraph,
     .tech-stack {
     	 flex-direction: column;
     }
     .tech-stack {
     	  width: 60%;
     }
    
     .projects h2 {
     	 margin-bottom: 3rem;
     }

     .blog h2 {
     	 margin-bottom: 3rem;
     }

     .blog-content {
     	  grid-template-columns: repeat(2, 1fr);
     }

  .btn-card {
     justify-content: center;
      gap: 1rem;
  }

/* contact */
.contact form {
     grid-template-columns: repeat(1, 1fr);
     grid-template-areas: 'label-name '
                          'name'
                          'label-email'
                          'email'
                          'label-message '
                          'message';
                                              
}
  
.btn {
	  width: 30%;
} 

}

@media ( width <= 617px ) {
	  .blog-content {
	  	 grid-template-columns: 1fr;
	  }
} 

@media ( width <= 450px ) {
	 html {
	 	 font-size: 50%;
	 }

	 .contact form .input-box input {
	 	 width: 100%;
	 }

	 .btn {
          text-align: center;
	 }
}

@media ( width <= 365px ) {
	 .hero-img img {
	 	 width: 90vw;
	 }

	 .footer p {
	 	 text-align: center;
	 }

}